.boton {
	border: 1px solid #0E2E64; /*anchura, estilo y color borde*/
	padding: 10px; /*espacio alrededor texto*/
	background-color: #0E2E64; /*color botón*/
	color: #ffffff; /*color texto*/
	text-decoration: none; /*decoración texto*/
	text-transform: uppercase; /*capitalización texto*/
	font-family: 'Helvetica', sans-serif; /*tipografía texto*/
	border-radius: 50px; /*bordes redondos*/
}